.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a4cdf2; /* Light blue background */
  height: 100vh; /* Adjust the height as needed */
  padding: 20px;
}


.nav-links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin-left: 10px;
  color: #0000ff; /* Blue link color */
  text-decoration: none;
}

.create-cv-button {
  margin-top: 40px;
}

.create-cv-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #008000; /* Green button background */
  color: #fff; /* White button text color */
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}
