.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-link {
  color: #007bff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 위쪽 섹션 */
.top-section {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30vh;
}

/* 메인 페이지 */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  padding: 20px;
}


.nav-links {
  position: absolute;
  top: 30px;
  right: 10px;
}

.nav-links a {
  margin: 0 10px;
  border: 2px solid #03310c;
  color: #000000; /* White button text color */
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.3rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.create-cv-button {
  margin-top: 20px;
}

.create-cv-link {
  display: inline-block;
  padding: 20px 70px;
  background-color: #808080; /* Green button background */
  user-select: none;
  color: #fff; /* White button text color */
  text-decoration: none;
  font-size: 2.0rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  z-index: 0;
  font-family: 'Nanum Myeongjo', serif;
}

.create-cv-link:hover {
  background-color: #000000; /* Darker green on hover */
}

.welcome{
  font-size:20px;
  position: absolute;
  top:30px;
  right:15%;
  font-family: 'Nanum Myeongjo', serif;
}
.Title {
  font-size: 4.0rem;
  margin-top: 150px;
  text-align: center;
  color:#000000;
  font-family: 'Nanum Myeongjo', serif;
}

.backimage{
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url("https://cdn.pixabay.com/photo/2020/01/06/18/13/letter-4745930_1280.jpg");
  background-size:cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

.menu-item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  height: 10vh;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-button {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.9rem;
  margin-left: 20px;
  margin-right: 20px;
  color:black;
  user-select: none;
  border-left: 2px solid black;
  border-right: 2px solid black; /* Add black border */
  font-family: 'Nanum Myeongjo', serif;
}

.custom-button:hover {
  background-color: #dadfd8;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  width: 300px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  height: 34px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.portfolio-list {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.portfolio-item {
  width: 80%;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 80px;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.portfolio-item h2 {
  margin-bottom: 10px;
}

.portfolio-item p {
  margin-bottom: 5px;
}

.topright{
  position: absolute;
  top: 30px;
  right: 10px;
}

.logo{
  position: absolute;
  top: 20px;
  left: 10px;
  width: 200px;
  height:50px;
  user-select: none;
  background-image: url(logotest.png);
  background-size:cover;
  background-position: center;
  cursor:pointer;
}

.btn-custom {
  background-color: #808080; /* 이 값은 회색을 나타내는 표준 RGB 값입니다 */
  color: white; /* 텍스트 색상을 변경하려면 이 줄을 수정하세요 */
  border: none; /* 테두리를 숨기려면 이 줄을 유지하세요 */
  width: 100px;  /* 버튼의 너비 설정 */
  height: 40px;  /* 버튼의 높이 설정 */
  font-size: 17px; /* 글자 크기 조절 */
  border-radius: 20px;
}
.btn-custom:hover {
  background-color: #666666; /* 마우스를 올렸을 때 버튼의 색상 */
}

.btn-custom-CV {
  background-color: #808080; /* 이 값은 회색을 나타내는 표준 RGB 값입니다 */
  color: white; /* 텍스트 색상을 변경하려면 이 줄을 수정하세요 */
  border: none; /* 테두리를 숨기려면 이 줄을 유지하세요 */
  padding: 10px 20px;  /* 패딩 값. 위아래 패딩 10px, 좌우 패딩 20px */
  font-size: 17px; /* 글자 크기 조절 */
  border-radius: 20px;
}

.hire-title {
  text-align: center;
  margin-top: 1.5em; 
  font-family: 'Nanum Myeongjo', serif;
}